// Managed by Ansible.
options {
    directory "/var/cache/bind";

    listen-on {
{% for address in bind9_listen_ipv4 %}
        {{ address }};
{% endfor %}
    };

    listen-on-v6 {
{% for address in bind9_listen_ipv6 %}
        {{ address }};
{% endfor %}
    };

    allow-query {
{% for acl in bind9_allow_query %}
        {{ acl }};
{% endfor %}
    };

    recursion no;
    dnssec-validation auto;
    empty-zones-enable no;
};
